html,body, #app {
  background-color: #222831;
}

#main-box {
  background-color: #393e46;
  color: #dedede;
}

h1,h2,h3,h4,h5,h6,p,g{
  color: #dedede;
}

.el-select-dropdown {
  background-color: #222831;
}
.el-input, .el-select, .el-input--suffix, .el-input__inner,.el-select-dropdown__item{
    color: #dedede;
    background-color: #222831;
}

.el-select-dropdown__item:hover, .el-select-dropdown__item:focus, .el-select-dropdown__item:active, .el-select-dropdown__item:checked {
  background-color: #333333;
}
li.el-select-dropdown__item.hover {
  background-color: #333333;
}

.footer {
  background-color: #333333;
  color: #dedede;
}

#madeby {
  color:#dedede;
}

.darkblue {
  color:#84a9ac;
}
.purple {
  color: #b590ca;
}
